name: STM32 Build

on:
  push:
    branches: [ main, dev, feat/stm32_example ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build STM32 Project
        # Usamos la acción mantenida en 2025
        uses: xanderhendriks/action-build-stm32cubeide@v15.0
        with:
          # Ruta a la carpeta que contiene el archivo .project
          project-path: 'examples/STM32L476RG_nucleo'
          # Formato: [NombreDelProyecto]/[Configuración]
          # El nombre del proyecto debe coincidir exactamente con el del IDE
          project-target: 'STM32L476RG_nucleo/Debug'

      - name: Upload Binary Artifact
        uses: actions/upload-artifact@v4
        with:
          name: stm32-elf-binary
          path: examples/STM32L476RG_nucleo/Debug/*.elf

